<link rel="import" href="../polymer/polymer.html">

<!-- INICIO nuestro componente padre -->
<dom-module id="polymer-inout-son">
  <template>
    <style is="custom-style">
      paper-button {
        font-family: 'Roboto', 'Noto', sans-serif;
        font-weight: normal;
        font-size: 14px;
        -webkit-font-smoothing: antialiased;
      }
      paper-button.indigo {
        background-color: var(--paper-indigo-500);
        color: white;
        --paper-button-raised-keyboard-focus: {
          background-color: var(--paper-pink-a200) !important;
          color: white !important;
        };
      }
      paper-button.indigo:hover {
        background-color: var(--paper-indigo-400);
      }
      .container{
        border: 1px solid tomato;
        padding: 10px;
        margin: 20px 0;
      }
    </style>
    <p class="container">
      Hola: [[name]], desde el componente interno
      <paper-button 
        raised 
        class="indigo"
        on-tap="isVisible">
        Soy un componente interno
       </paper-button>
    </p>
  </template>
  <script>
      Polymer({
      is: "polymer-inout-son",
      properties: {
          name : {
            type: String,
            value: 'mau'
          }
        }
    });
  </script>

</dom-module>